{% extends 'base.html.twig' %}
{% block title %}Gerer les biens{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2>Creer un nouveau tag</h2>
        {{ include('admin/tag/_form.html.twig', {form: form, button: 'Creer'}) }}
    </div>

{% endblock %}